/* start global values */
/*start component values*/
.special-heading{
    color:#ebeced;
    font-size: 150px;
    margin-top: -80px;
    text-align: center;
    letter-spacing:-3px;
}
.special-heading + p{
    margin-top: -150px;
    text-align: center;
    color: #6a6a6a;
}
/*end component values*/

*{
    box-sizing: border-box;
}
:root{
    --main-color:#10cab7;
    --sec-color: #777;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
}
@media(max-width: 776px){
    .special-heading{
        font-size:60px;
    }
    .special-heading + p{
        margin-top: -50px;
    }
}

    /* small-screens*/
@media (min-width:768px ){
    .container{
        width:740px;
    }
}
@media (max-width: 767px){
    .services .serv{
        flex-direction: column;
        text-align: center;
    }
    .feature .feat:hover{
        overflow: hidden;
    }
}

    /* medium-screens */
@media (min-width: 992px){
    .container{
        width:970px;
    }
}
    /* large-screens */
@media (min-width: 1200px){
    .container{
        width: 1180px;
    }
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 767px){
    .services .serv{
        flex-direction: column;
        text-align: center;
    }
    .feature .feat:hover{
        overflow: hidden;
    }
}
@media (max-width: 1199px){
    .moun{
        display: none;
    }
}
/* end global values */
/* start header */
.header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    height:90px;
    z-index:1;
}
.logo{
    width:90px;
    padding-top:10px;
}
ul{
    list-style: none;
    display: block;
    background-color: #f6f6f6;
    right:15px;
    position: absolute;
    padding:0;
    width: 200px;
    top: calc(100% - 30px);
    display: none;
}
.links ul::before{
    content: "";
    background-color: #f6f6f6;
    position: absolute;
    right:8px;
    top:-20px;
    border-width: 10px ;
    border-style: solid;
    border-color: white white #f6f6f6 white;
}
ul li a{
    text-decoration: none;
    padding: 15px;
    display: block;
    color: #333;
    transition: 0.3s;
}
ul li a:hover{
    padding-left: 25px;
}
ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
.icon{
   position: absolute;
   right:22px;
   top:30px;
}
.links i{
    font-size: 25px;
    padding-top: 3px;
}
.links:hover ul{
    display:block;
}
/* end header */
/* start landing section */
.section{
    background-image: url("../images/pexels-pixabay-355747.jpg");
    height: 600px;
    position: relative; 
    background-size: cover;
}
.section .container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 400px;
    text-align: center;
}
.section .container h1{
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding-bottom:10px;
}
.section .container p{
  font-size: 19px;
}
/* end landing section */
/* start features section */
.feature{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.feature .container{
    display:grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    grid-gap: 20px;
}
.feat i{
    color: var(--main-color);
    font-size: 50px;
    margin-bottom: 20px;
}
.feat{
    transition: 0.5s;
    padding: 20px;
    margin-bottom:2px;
    overflow: hidden;
    text-align: center;
}
.feat:hover{
    transform: scale(1.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.feat p{
    line-height: 1.8 ;
    font-size: 17px;
    color: #777;
    margin: 30px 0 ;
}
.feat h3{
    font-weight: 800px;
}
/* end features section */
/*start services section*/
.services{
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.services .service{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-gap: 40px;
}
.service .serv {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.service .text p{
    color: var(--sec-color);
    line-height: 1.8;
    font-size: 17px ;
}
.serv i{
    color: var(--main-color);
    font-size: 30px;
    flex-basis: 60px;
}
.service .text{
    flex: 1;
}
.service .text h3{
    margin:0;
}
.col .img .moun{
   margin-top: 150px;
   margin-left: 60px;
   width: 260px;
   height: 340px;
   position:relative;
}
.col .img{
    position:relative;
}
.col .img::before{
    content:"";
    background-color: #2d4758;
    width: 80px;
    height: 80%;
    position:absolute;
    right: 0px;
    top: 120px;
}
/*end service section*/
/*start portfolio section*/
.portfolio{
    padding-top: 60px;
    padding-bottom: 0px;
    background-color: #f6f6f6;
    margin-bottom: 80px;
}
.portfolio .portfolio-content {
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    margin-top:80px;
    grid-gap: 30px;
}
.project img {
    max-width: 100%;
}
.project p{
    line-height: 1.8 ;
    font-size: 17px;
    color: #777;
    margin-bottom: 0;
}
.project .info{
    padding: 20px;
}
.project{
    background-color: white;
}
.info h3{
    margin: 0;
}
.boutt{
    position:relative;
    width:auto;
    padding-top: 190px;
    margin-bottom: 10px;;
}
.bout{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50% , -50%);
    border: 1px #333 solid;
    padding: 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.bout:hover{
    background-color: black;
    color: white;
    border: none;
}
/*end portfolio section*/
/* start about section */
.about{
    padding-top: 60px;
    padding-bottom: 60px;
}
.about .about-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(400px , 1fr));
    grid-gap: 30px;
    padding: 100px;
}
.about img{
    max-width: 100%;
    width: 260px;
   height: 340px;
}
.about-content .information :first-child{
    font-weight: bold;
    line-height: 1.8;
    color: #333;
}
.about-content .information span{
    width:20%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    margin-top:15px;
}
.about-content .information .j {
    color: var(--sec-color);
    line-height: 1.8;
    margin-top: 45px;
}
.about .picture{
    position: relative;
    width:250px;
    height: 375px;
}
.about .picture::before{
    content: "";
    position: absolute;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -40px;
    right: -150px;
    height: 236px;
    z-index: -1;
    width: 120px;
}
.about .picture::after{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 50px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

@media(max-width:767px){
    .about .picture{
    display: none;
}
    .about .about-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
/* end about section */
/* start contactsection */
.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
} 
p.first{
    color:#2d4758;
    font-weight: bold;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
}
p.mail{
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
    padding-left: 50px;
    margin-top: 0;
    padding-top: 0px;
}
.social{
    padding-left: 30px;
}
.social i{
    letter-spacing: 60px;
    color: #333;
    padding-left: 39px;
}
.social p{
    padding-left: 75px;
    color: var(--sec-color);
}
/* end about section */
/* start footer */
/* end footer */
.footer{
    text-align:center;
    background-color: #2d4758;
    color:white;
    padding:20px;
    background-clip: padding-box;
}
.footer span{
    color: var(--main-color);
}
/* end footer */
/* end script */




